.blog-container,.side-panel,.Snap---BC-Module---Blog---Date,.Snap---BC-Module---Blog---Sidebar-Title,.Snap---BC-Module---Blog---Blog-Title,.Snap---BC-Module---Blog---Post-Title
{
	font-family: bebas-neue-n4, sans-serif;
}

.Snap-Text---H5
{
	font-family: open-sans-n7, sans-serif;
}

.Snap-Text---H4
{
	font-family: open-sans-n3, sans-serif;
}

.Item-Price,.Boton-publicar_ahora1
{
	font-family: pt-sans-n7, sans-serif;
}

.Body
{
	font-family: source-sans-pro-n4, sans-serif;
}

.titulo,.body,.description,.Snap---BC-Module---Blog---Blog-Description,.Snap-UI---Footer-Menu---Text,.Snap-Text---Copyright,.Snap-Text---H6,.Menu_Categoria_Texto,.Menu_Categorias_Texto,.boton_categorias
{
	font-family: open-sans-n4, sans-serif;
}

#u15931-10,#u16031-2,#u16029-2,#u16973-4,#u16026-2,#u16027-2,#u16028-2,#u16032-2,#u16025-2,#u16048-2
{
	font-family: open-sans-n4, sans-serif;
}

#u19618-5,#u19686-4
{
	font-family: open-sans-n4, sans-serif;
}

