.version.tpl_paso3 /* version checker */
{
	color: #00001E;
	background-color: #FA0B51;
}

.html
{
	background-color: #EFEFEB;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 689.5520819742221px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -48px;
	margin-bottom: -234px;
}

#pu16960
{
	width: 0.01px;
	margin-left: -100px;
}

#u16960
{
	z-index: 83;
	padding-bottom: 10px;
}

#u19591
{
	z-index: 202;
	width: 204px;
	min-height: 75px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 116px;
}

#buttonu19511
{
	z-index: 102;
	width: 129px;
	padding-bottom: 11px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 330px;
}

#buttonu19511:hover
{
	margin: 72px -10000px 0px 0px;
}

#u19513-4
{
	z-index: 103;
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 34px;
}

#buttonu19511:hover #u19513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 15px -10000px 0px 0px;
}

#buttonu19511.ButtonSelected #u19513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 15px -10000px 0px 0px;
}

#u19517
{
	z-index: 107;
	width: 28px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 6px;
}

#u16917
{
	z-index: 139;
	width: 495px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 83px;
	left: 475px;
}

#buttonu19505
{
	z-index: 93;
	width: 146px;
	padding-bottom: 13px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 980px;
}

#buttonu19511.ButtonSelected,#buttonu19505:hover
{
	margin: 72px -10000px 0px 0px;
}

#u19508
{
	z-index: 99;
	height: 16px;
	width: 16px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#u19506-4
{
	z-index: 94;
	width: 107px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 33px;
}

#buttonu19505:hover #u19506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 15px -10000px 0px 0px;
}

#buttonu15935
{
	z-index: 84;
	width: 146px;
	padding-bottom: 13px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 1137px;
}

#buttonu19505.ButtonSelected,#buttonu15935:hover
{
	margin: 72px -10000px 0px 0px;
}

#buttonu15935.ButtonSelected
{
	margin: 72px -10000px 0px 0px;
}

#u15940
{
	z-index: 90;
	height: 16px;
	width: 16px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#u15937-4
{
	z-index: 85;
	width: 107px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 33px;
}

#buttonu19505.ButtonSelected #u19506-4,#buttonu15935:hover #u15937-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 15px -10000px 0px 0px;
}

#buttonu15935.ButtonSelected #u15937-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 15px -10000px 0px 0px;
}

#u16960-bw
{
	z-index: 83;
	height: 125px;
}

#u15914
{
	z-index: 108;
	padding-bottom: 7px;
}

#u16960_align_to_page,#u15914_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u15931-12
{
	z-index: 109;
	width: 400px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 110px;
}

#u16000
{
	z-index: 121;
	width: 101px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 795px;
}

#u15986
{
	z-index: 126;
	width: 26px;
	min-height: 26px;
	margin-right: -10000px;
}

#u15932-4
{
	z-index: 122;
	width: 71px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 30px;
}

#u16005
{
	z-index: 127;
	width: 125px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 898px;
}

#u16003
{
	z-index: 132;
	width: 26px;
	min-height: 26px;
	margin-right: -10000px;
}

#u16002-4
{
	z-index: 128;
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 32px;
}

#u16006
{
	z-index: 133;
	width: 125px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1023px;
}

#u16008
{
	z-index: 138;
	width: 26px;
	min-height: 26px;
	margin-right: -10000px;
}

#u16007-4
{
	z-index: 134;
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 32px;
}

#u15914-bw
{
	z-index: 108;
	height: 41px;
}

#u19499
{
	z-index: 201;
	width: 160px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1142px;
}

#u19523
{
	z-index: 2;
	width: 1180px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 10px;
}

#u19523_position_content
{
	padding-top: 43px;
	padding-bottom: 250px;
}

#u19333-4
{
	z-index: 7;
	width: 1135px;
	min-height: 38px;
	line-height: 36px;
	color: #262626;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 22px;
	position: relative;
}

#u19334
{
	z-index: 5;
	width: 778px;
	border-style: none;
	border-color: #E0E0E0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	padding-bottom: 7px;
	margin-left: 211px;
	margin-top: 71px;
	position: relative;
}

.Categorias_publicacion_nueva
{
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFDB01;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u19336
{
	z-index: 6;
	width: 404px;
	height: 17px;
	border-style: none;
	border-color: #E0E0E0;
	background-color: #262626;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: -10px;
}

#u19336:hover
{
	border-style: none;
	background-color: #262626;
	margin: 10px -10000px 0px 0px;
}

#u19361
{
	z-index: 3;
	width: 1180px;
	min-height: 7px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 96px;
	position: relative;
}

#u19335
{
	z-index: 4;
	width: 1200px;
	height: 16px;
	border-color: #000000;
	background-color: #E9E9E9;
	position: relative;
	margin-right: -10000px;
}

#buttonu19349
{
	z-index: 11;
	width: 112px;
	border-color: #787878;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-right: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 168px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#buttonu19349:hover
{
	background-color: #FDFDFD;
	background-color: rgba(84, 84, 84, 0.01);
	margin: 129px -10000px 0px 0px;
	-pie-background: rgba(84, 84, 84, 0.01);
}

#buttonu19349.ButtonSelected
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	margin: 129px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u19351-4
{
	z-index: 12;
	width: 92px;
	min-height: 33px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 7px;
}

#u19350
{
	z-index: 16;
	width: 109px;
	border-width: 2px;
	border-style: solid;
	padding-bottom: 37px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#buttonu19349:hover #u19350
{
	background-color: #262626;
	width: 109px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u19352-4
{
	z-index: 17;
	width: 92px;
	min-height: 33px;
	background-color: transparent;
	line-height: 22px;
	color: #262626;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 8px;
}

#buttonu19349:hover #u19352-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	margin: 39px -10000px 0px 0px;
}

#buttonu19349:hover #u19352-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u19354-4
{
	z-index: 21;
	width: 111px;
	min-height: 18px;
	color: #262626;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 9px;
	position: relative;
}

#buttonu19337
{
	z-index: 25;
	width: 111px;
	border-color: #787878;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-left: 1px;
	padding-right: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 361px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#buttonu19337:hover
{
	background-color: #FDFDFD;
	background-color: rgba(84, 84, 84, 0.01);
	margin: 129px -10000px 0px 0px;
	-pie-background: rgba(84, 84, 84, 0.01);
}

#buttonu19337.ButtonSelected
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	margin: 129px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u19339-4
{
	z-index: 26;
	width: 92px;
	min-height: 33px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 7px;
}

#u19338
{
	z-index: 30;
	width: 109px;
	border-width: 2px;
	border-style: solid;
	background-color: #FFDB01;
	padding-bottom: 37px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#buttonu19337:hover #u19338
{
	background-color: #FFDB01;
	width: 109px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

.Categorias_publicacion_nueva-hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #262626;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u19342-4
{
	z-index: 31;
	width: 92px;
	min-height: 33px;
	background-color: transparent;
	line-height: 22px;
	color: #262626;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 8px;
}

#buttonu19349.ButtonSelected #u19352-4,#buttonu19337:hover #u19342-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	margin: 39px -10000px 0px 0px;
}

#buttonu19337:hover #u19342-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u19341-4
{
	z-index: 35;
	width: 111px;
	min-height: 18px;
	color: #262626;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 9px;
	position: relative;
}

#buttonu19327
{
	z-index: 39;
	width: 111px;
	border-color: #787878;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-left: 1px;
	padding-right: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 553px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#buttonu19327:hover
{
	background-color: #FDFDFD;
	background-color: rgba(84, 84, 84, 0.01);
	margin: 129px -10000px 0px 0px;
	-pie-background: rgba(84, 84, 84, 0.01);
}

#buttonu19327.ButtonSelected
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	margin: 129px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u19332-4
{
	z-index: 40;
	width: 92px;
	min-height: 33px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 7px;
}

#u19329
{
	z-index: 44;
	width: 109px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	border-width: 2px;
	border-style: solid;
	background-color: #262626;
	padding-bottom: 37px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#buttonu19327:hover #u19329
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	background-color: #262626;
	width: 109px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#buttonu19327.ButtonSelected #u19329
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 109px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u19328-4
{
	z-index: 45;
	width: 92px;
	min-height: 33px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 8px;
}

#buttonu19337.ButtonSelected #u19342-4,#buttonu19327:hover #u19328-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	margin: 39px -10000px 0px 0px;
}

#buttonu19327:hover #u19328-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u19331-4
{
	z-index: 49;
	width: 111px;
	min-height: 18px;
	color: #262626;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 9px;
	position: relative;
}

#buttonu19355
{
	z-index: 53;
	width: 111px;
	border-color: #787878;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 746px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#buttonu19355:hover
{
	background-color: #FDFDFD;
	background-color: rgba(84, 84, 84, 0.01);
	margin: 129px -10000px 0px 0px;
	-pie-background: rgba(84, 84, 84, 0.01);
}

#buttonu19355.ButtonSelected
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	margin: 129px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u19360-4
{
	z-index: 54;
	width: 92px;
	min-height: 33px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 7px;
}

#u19357
{
	z-index: 58;
	width: 109px;
	border-width: 2px;
	border-style: solid;
	padding-bottom: 37px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#buttonu19349.ButtonSelected #u19350,#buttonu19337.ButtonSelected #u19338,#buttonu19355:hover #u19357
{
	background-color: #262626;
	width: 109px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u19359-4
{
	z-index: 59;
	width: 92px;
	min-height: 33px;
	background-color: transparent;
	line-height: 22px;
	color: #262626;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 8px;
}

#buttonu19327.ButtonSelected #u19328-4,#buttonu19355:hover #u19359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	margin: 39px -10000px 0px 0px;
}

#buttonu19355:hover #u19359-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u19358-4
{
	z-index: 63;
	width: 111px;
	min-height: 18px;
	color: #262626;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 9px;
	position: relative;
}

#buttonu19343
{
	z-index: 67;
	width: 111px;
	border-color: #787878;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 938px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#buttonu19343:hover
{
	background-color: #FDFDFD;
	background-color: rgba(84, 84, 84, 0.01);
	margin: 129px -10000px 0px 0px;
	-pie-background: rgba(84, 84, 84, 0.01);
}

#buttonu19343.ButtonSelected
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	margin: 129px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#pu19523,#pu19339-4,#pu19332-4,#pu19360-4,#pu19346-4
{
	width: 0.01px;
}

#u19346-4
{
	z-index: 68;
	width: 92px;
	min-height: 33px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 7px;
}

#u19345
{
	z-index: 72;
	width: 109px;
	border-width: 2px;
	border-style: solid;
	padding-bottom: 37px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#buttonu19355.ButtonSelected #u19357,#buttonu19343:hover #u19345
{
	background-color: #262626;
	width: 109px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#buttonu19343.ButtonSelected #u19345
{
	background-color: #262626;
	width: 109px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u19348-4
{
	z-index: 73;
	width: 92px;
	min-height: 33px;
	background-color: transparent;
	line-height: 22px;
	color: #262626;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 8px;
}

#buttonu19355.ButtonSelected #u19359-4,#buttonu19343:hover #u19348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	margin: 39px -10000px 0px 0px;
}

#buttonu19343.ButtonSelected #u19348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	margin: 39px -10000px 0px 0px;
}

#buttonu19343:hover #u19348-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu19349.ButtonSelected #u19352-4 p,#buttonu19337.ButtonSelected #u19342-4 p,#buttonu19355.ButtonSelected #u19359-4 p,#buttonu19343.ButtonSelected #u19348-4 p
{
	color: #262626;
	visibility: inherit;
}

#u19351-2,#u19352-2,#u19339-2,#u19342-2,#u19332-2,#u19328-2,#u19360-2,#u19359-2,#u19346-2,#u19348-2
{
	padding-top: 7px;
}

#u19347-4
{
	z-index: 77;
	width: 111px;
	min-height: 18px;
	color: #262626;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 9px;
	position: relative;
}

#u19521
{
	z-index: 81;
	width: 100px;
	min-height: 336px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 1200px;
}

#u19560
{
	z-index: 82;
	width: 109px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 1190px;
}

#u15916
{
	z-index: 141;
	padding-bottom: 0px;
}

#u15916_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
	padding-top: 43px;
	padding-bottom: 6px;
}

#pu16031-4
{
	width: 0.01px;
	left: 170px;
	position: relative;
}

#u16031-4
{
	z-index: 154;
	width: 720px;
	min-height: 34px;
	margin-right: -10000px;
}

#u16029-4
{
	z-index: 166;
	width: 300px;
	min-height: 34px;
	margin-right: -10000px;
	left: 740px;
}

#pu19495
{
	width: 0.01px;
	left: 170px;
	margin-top: 3px;
	position: relative;
}

#u19495
{
	z-index: 199;
	width: 677px;
	min-height: 158px;
	margin-right: -10000px;
	margin-top: 13px;
}

#pu16973-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 740px;
}

#u16973-4
{
	z-index: 194;
	width: 270px;
	min-height: 69px;
}

#u16974
{
	z-index: 198;
	width: 269px;
	min-height: 113px;
	margin-left: 1px;
	margin-top: 3px;
}

#pu16026-4
{
	width: 0.01px;
	left: 170px;
	margin-top: 17px;
	position: relative;
}

#u16026-4
{
	z-index: 150;
	width: 160px;
	min-height: 34px;
	margin-right: -10000px;
}

#u16027-4
{
	z-index: 158;
	width: 160px;
	min-height: 34px;
	margin-right: -10000px;
	left: 225px;
}

#u16028-4
{
	z-index: 162;
	width: 160px;
	min-height: 34px;
	margin-right: -10000px;
	left: 450px;
}

#u16032-4
{
	z-index: 170;
	width: 320px;
	min-height: 34px;
	margin-right: -10000px;
	left: 740px;
}

#pu16913
{
	width: 0.01px;
	left: 170px;
	margin-top: 5px;
	position: relative;
}

#u16913
{
	z-index: 191;
	width: 160px;
	min-height: 183px;
	margin-right: -10000px;
}

#u16967
{
	z-index: 192;
	width: 160px;
	min-height: 183px;
	margin-right: -10000px;
	left: 225px;
}

#u16969
{
	z-index: 193;
	width: 210px;
	min-height: 183px;
	margin-right: -10000px;
	left: 450px;
}

#ppu16033
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 740px;
}

#pu19351-4,#pu16033
{
	width: 0.01px;
	margin-left: 1px;
}

#u16033
{
	z-index: 188;
	width: 21px;
	min-height: 27px;
	margin-right: -10000px;
}

#u16069-4
{
	z-index: 174;
	width: 289px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 29px;
}

#pu16037
{
	width: 0.01px;
	margin-top: 5px;
}

#u16037
{
	z-index: 190;
	width: 24px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u16076-4
{
	z-index: 178;
	width: 289px;
	min-height: 22px;
	margin-right: -10000px;
	left: 30px;
}

#pu16035
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 6px;
}

#u16035
{
	z-index: 189;
	width: 21px;
	min-height: 27px;
	margin-right: -10000px;
}

#u16077-6
{
	z-index: 182;
	width: 289px;
	min-height: 47px;
	margin-right: -10000px;
	left: 29px;
}

#u19497
{
	z-index: 200;
	width: 281px;
	min-height: 34px;
	margin-top: 11px;
}

#u15916-bw
{
	z-index: 141;
	margin-top: 53px;
	height: 512px;
}

#u15923
{
	z-index: 140;
	padding-bottom: 2px;
}

#u15923_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
	margin-bottom: -1px;
}

#u16025-4
{
	z-index: 142;
	width: 900px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 110px;
}

#u16048-4
{
	z-index: 146;
	width: 159px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 1131px;
}

#u15923-bw
{
	z-index: 140;
	margin-top: -1px;
	height: 43px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 48px;
	padding-bottom: 45px;
}

#page .verticalspacer
{
	clear: both;
}

