.version.tpl_paso1 /* version checker */
{
	color: #000013;
	background-color: #7075B9;
}

.html
{
	background-color: #EFEFEB;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 689.5520819742221px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -48px;
	margin-bottom: -234px;
}

#pu16960
{
	width: 0.01px;
	margin-left: -100px;
}

#u16960
{
	z-index: 80;
	padding-bottom: 10px;
}

#u19591
{
	z-index: 199;
	width: 204px;
	min-height: 75px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 116px;
}

#buttonu19511
{
	z-index: 99;
	width: 129px;
	padding-bottom: 11px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 330px;
}

#buttonu19511:hover
{
	margin: 72px -10000px 0px 0px;
}

#u19513-4
{
	z-index: 100;
	width: 89px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 34px;
}

#buttonu19511:hover #u19513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 15px -10000px 0px 0px;
}

#buttonu19511.ButtonSelected #u19513-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 15px -10000px 0px 0px;
}

#u19517
{
	z-index: 104;
	width: 28px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 6px;
}

#u16917
{
	z-index: 136;
	width: 495px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 83px;
	left: 475px;
}

#buttonu19505
{
	z-index: 90;
	width: 146px;
	padding-bottom: 13px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 980px;
}

#buttonu19511.ButtonSelected,#buttonu19505:hover
{
	margin: 72px -10000px 0px 0px;
}

#u19508
{
	z-index: 96;
	height: 16px;
	width: 16px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#u19506-4
{
	z-index: 91;
	width: 107px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 33px;
}

#buttonu19505:hover #u19506-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 15px -10000px 0px 0px;
}

#buttonu15935
{
	z-index: 81;
	width: 146px;
	padding-bottom: 13px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 1137px;
}

#buttonu19505.ButtonSelected,#buttonu15935:hover
{
	margin: 72px -10000px 0px 0px;
}

#buttonu15935.ButtonSelected
{
	margin: 72px -10000px 0px 0px;
}

#u15940
{
	z-index: 87;
	height: 16px;
	width: 16px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#u15937-4
{
	z-index: 82;
	width: 107px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 33px;
}

#buttonu19505.ButtonSelected #u19506-4,#buttonu15935:hover #u15937-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 15px -10000px 0px 0px;
}

#buttonu15935.ButtonSelected #u15937-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 15px -10000px 0px 0px;
}

#u16960-bw
{
	z-index: 80;
	height: 125px;
}

#u15914
{
	z-index: 105;
	padding-bottom: 7px;
}

#u16960_align_to_page,#u15914_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u15931-12
{
	z-index: 106;
	width: 400px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 110px;
}

#u16000
{
	z-index: 118;
	width: 101px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 795px;
}

#u15986
{
	z-index: 123;
	width: 26px;
	min-height: 26px;
	margin-right: -10000px;
}

#u15932-4
{
	z-index: 119;
	width: 71px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 30px;
}

#u16005
{
	z-index: 124;
	width: 125px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 898px;
}

#u16003
{
	z-index: 129;
	width: 26px;
	min-height: 26px;
	margin-right: -10000px;
}

#u16002-4
{
	z-index: 125;
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 32px;
}

#u16006
{
	z-index: 130;
	width: 125px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1023px;
}

#u16008
{
	z-index: 135;
	width: 26px;
	min-height: 26px;
	margin-right: -10000px;
}

#u16007-4
{
	z-index: 131;
	width: 93px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 32px;
}

#u15914-bw
{
	z-index: 105;
	height: 41px;
}

#u19499
{
	z-index: 198;
	width: 160px;
	min-height: 33px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 1142px;
}

#u19231
{
	z-index: 3;
	width: 1200px;
	height: 16px;
	border-color: #000000;
	background-color: #E9E9E9;
	position: relative;
}

#u19176-4
{
	z-index: 5;
	width: 1135px;
	min-height: 38px;
	line-height: 36px;
	color: #262626;
	font-size: 30px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 32px;
	margin-top: 43px;
	position: relative;
}

#pu19135
{
	width: 0.01px;
	margin-left: 168px;
	margin-top: 32px;
}

#u19135
{
	z-index: 4;
	width: 778px;
	height: 34px;
	border-style: none;
	border-color: #E0E0E0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 53px;
}

.Categorias_publicacion_nueva
{
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFDB01;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#buttonu19182
{
	z-index: 9;
	width: 112px;
	border-color: #787878;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#buttonu19182:hover
{
	background-color: #FDFDFD;
	background-color: rgba(84, 84, 84, 0.01);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(84, 84, 84, 0.01);
}

#buttonu19182.ButtonSelected
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u19187-4
{
	z-index: 10;
	width: 92px;
	min-height: 33px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 7px;
}

#u19185
{
	z-index: 14;
	width: 109px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	border-width: 2px;
	border-style: solid;
	background-color: #262626;
	padding-bottom: 37px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#buttonu19182:hover #u19185
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	background-color: #262626;
	width: 109px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#buttonu19182.ButtonSelected #u19185
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 109px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u19186-4
{
	z-index: 15;
	width: 92px;
	min-height: 33px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 8px;
}

#buttonu19182:hover #u19186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	margin: 39px -10000px 0px 0px;
}

#buttonu19182:hover #u19186-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u19184-4
{
	z-index: 19;
	width: 111px;
	min-height: 18px;
	color: #262626;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 9px;
	position: relative;
}

#buttonu19200
{
	z-index: 23;
	width: 111px;
	border-color: #787878;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	padding-left: 1px;
	padding-right: 1px;
	position: relative;
	margin-right: -10000px;
	left: 193px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#buttonu19200:hover
{
	background-color: #FDFDFD;
	background-color: rgba(84, 84, 84, 0.01);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(84, 84, 84, 0.01);
}

#buttonu19200.ButtonSelected
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#pu19205-4
{
	width: 0.01px;
}

#u19205-4
{
	z-index: 24;
	width: 92px;
	min-height: 33px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 7px;
}

#u19201
{
	z-index: 28;
	width: 109px;
	border-width: 2px;
	border-style: solid;
	background-color: #FFDB01;
	padding-bottom: 37px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#buttonu19200:hover #u19201
{
	background-color: #FFDB01;
	width: 109px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

.Categorias_publicacion_nueva-hover
{
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #262626;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
}

#u19202-4
{
	z-index: 29;
	width: 92px;
	min-height: 33px;
	background-color: transparent;
	line-height: 22px;
	color: #262626;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 8px;
}

#buttonu19182.ButtonSelected #u19186-4,#buttonu19200:hover #u19202-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	margin: 39px -10000px 0px 0px;
}

#buttonu19200:hover #u19202-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u19203-4
{
	z-index: 33;
	width: 111px;
	min-height: 18px;
	color: #262626;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-top: 9px;
	position: relative;
}

#buttonu19194
{
	z-index: 37;
	width: 112px;
	border-color: #787878;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 385px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#buttonu19194:hover
{
	background-color: #FDFDFD;
	background-color: rgba(84, 84, 84, 0.01);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(84, 84, 84, 0.01);
}

#buttonu19194.ButtonSelected
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u19196-4
{
	z-index: 38;
	width: 92px;
	min-height: 33px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 7px;
}

#u19195
{
	z-index: 42;
	width: 109px;
	border-width: 2px;
	border-style: solid;
	padding-bottom: 37px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#buttonu19200.ButtonSelected #u19201,#buttonu19194:hover #u19195
{
	background-color: #262626;
	width: 109px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u19197-4
{
	z-index: 43;
	width: 92px;
	min-height: 33px;
	background-color: transparent;
	line-height: 22px;
	color: #262626;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 8px;
}

#buttonu19200.ButtonSelected #u19202-4,#buttonu19194:hover #u19197-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	margin: 39px -10000px 0px 0px;
}

#buttonu19194:hover #u19197-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u19198-4
{
	z-index: 47;
	width: 111px;
	min-height: 18px;
	color: #262626;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 1px;
	margin-top: 9px;
	position: relative;
}

#buttonu19211
{
	z-index: 51;
	width: 112px;
	border-color: #787878;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 578px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#buttonu19211:hover
{
	background-color: #FDFDFD;
	background-color: rgba(84, 84, 84, 0.01);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(84, 84, 84, 0.01);
}

#buttonu19211.ButtonSelected
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u19214-4
{
	z-index: 52;
	width: 92px;
	min-height: 33px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 7px;
}

#u19216
{
	z-index: 56;
	width: 109px;
	border-width: 2px;
	border-style: solid;
	padding-bottom: 37px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#buttonu19194.ButtonSelected #u19195,#buttonu19211:hover #u19216
{
	background-color: #262626;
	width: 109px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u19215-4
{
	z-index: 57;
	width: 92px;
	min-height: 33px;
	background-color: transparent;
	line-height: 22px;
	color: #262626;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 8px;
}

#buttonu19194.ButtonSelected #u19197-4,#buttonu19211:hover #u19215-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	margin: 39px -10000px 0px 0px;
}

#buttonu19211:hover #u19215-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u19213-4
{
	z-index: 61;
	width: 111px;
	min-height: 18px;
	color: #262626;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 1px;
	margin-top: 9px;
	position: relative;
}

#buttonu19163
{
	z-index: 65;
	width: 112px;
	border-color: #787878;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 770px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#buttonu19163:hover
{
	background-color: #FDFDFD;
	background-color: rgba(84, 84, 84, 0.01);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(84, 84, 84, 0.01);
}

#buttonu19163.ButtonSelected
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#buttonu19211_position_content,#buttonu19163_position_content
{
	padding-bottom: 8px;
}

#u19168-4
{
	z-index: 66;
	width: 92px;
	min-height: 33px;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 7px;
}

#u19167
{
	z-index: 70;
	width: 109px;
	border-width: 2px;
	border-style: solid;
	padding-bottom: 37px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#buttonu19211.ButtonSelected #u19216,#buttonu19163:hover #u19167
{
	background-color: #262626;
	width: 109px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#buttonu19163.ButtonSelected #u19167
{
	background-color: #262626;
	width: 109px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
}

#u19166-4
{
	z-index: 71;
	width: 92px;
	min-height: 33px;
	background-color: transparent;
	line-height: 22px;
	color: #262626;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	left: 8px;
}

#buttonu19211.ButtonSelected #u19215-4,#buttonu19163:hover #u19166-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	margin: 39px -10000px 0px 0px;
}

#buttonu19163.ButtonSelected #u19166-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	margin: 39px -10000px 0px 0px;
}

#buttonu19163:hover #u19166-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu19200.ButtonSelected #u19202-4 p,#buttonu19194.ButtonSelected #u19197-4 p,#buttonu19211.ButtonSelected #u19215-4 p,#buttonu19163.ButtonSelected #u19166-4 p
{
	color: #262626;
	visibility: inherit;
}

#u19187-2,#u19186-2,#u19205-2,#u19202-2,#u19196-2,#u19197-2,#u19214-2,#u19215-2,#u19168-2,#u19166-2
{
	padding-top: 7px;
}

#u19165-4
{
	z-index: 75;
	width: 111px;
	min-height: 18px;
	color: #262626;
	font-size: 14px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 1px;
	margin-top: 9px;
	position: relative;
}

#u19556
{
	z-index: 79;
	width: 109px;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 1022px;
}

#u19236
{
	z-index: 2;
	width: 1180px;
	min-height: 7px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 24px;
	position: relative;
}

#u15916
{
	z-index: 138;
	padding-bottom: 0px;
}

#u15916_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
	padding-top: 43px;
	padding-bottom: 6px;
}

#pu16031-4
{
	width: 0.01px;
	left: 170px;
	position: relative;
}

#u16031-4
{
	z-index: 151;
	width: 720px;
	min-height: 34px;
	margin-right: -10000px;
}

#u16029-4
{
	z-index: 163;
	width: 300px;
	min-height: 34px;
	margin-right: -10000px;
	left: 740px;
}

#pu19495
{
	width: 0.01px;
	left: 170px;
	margin-top: 3px;
	position: relative;
}

#u19495
{
	z-index: 196;
	width: 677px;
	min-height: 158px;
	margin-right: -10000px;
	margin-top: 13px;
}

#pu16973-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 740px;
}

#u16973-4
{
	z-index: 191;
	width: 270px;
	min-height: 69px;
}

#u16974
{
	z-index: 195;
	width: 269px;
	min-height: 113px;
	margin-left: 1px;
	margin-top: 3px;
}

#pu16026-4
{
	width: 0.01px;
	left: 170px;
	margin-top: 17px;
	position: relative;
}

#u16026-4
{
	z-index: 147;
	width: 160px;
	min-height: 34px;
	margin-right: -10000px;
}

#u16027-4
{
	z-index: 155;
	width: 160px;
	min-height: 34px;
	margin-right: -10000px;
	left: 225px;
}

#u16028-4
{
	z-index: 159;
	width: 160px;
	min-height: 34px;
	margin-right: -10000px;
	left: 450px;
}

#u16032-4
{
	z-index: 167;
	width: 320px;
	min-height: 34px;
	margin-right: -10000px;
	left: 740px;
}

#pu16913
{
	width: 0.01px;
	left: 170px;
	margin-top: 5px;
	position: relative;
}

#u16913
{
	z-index: 188;
	width: 160px;
	min-height: 183px;
	margin-right: -10000px;
}

#u16967
{
	z-index: 189;
	width: 160px;
	min-height: 183px;
	margin-right: -10000px;
	left: 225px;
}

#u16969
{
	z-index: 190;
	width: 210px;
	min-height: 183px;
	margin-right: -10000px;
	left: 450px;
}

#ppu16033
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 7px;
	margin-left: 740px;
}

#pu19187-4,#pu19196-4,#pu19214-4,#pu19168-4,#pu16033
{
	width: 0.01px;
	margin-left: 1px;
}

#u16033
{
	z-index: 185;
	width: 21px;
	min-height: 27px;
	margin-right: -10000px;
}

#u16069-4
{
	z-index: 171;
	width: 289px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 29px;
}

#pu16037
{
	width: 0.01px;
	margin-top: 5px;
}

#u16037
{
	z-index: 187;
	width: 24px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u16076-4
{
	z-index: 175;
	width: 289px;
	min-height: 22px;
	margin-right: -10000px;
	left: 30px;
}

#pu16035
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 6px;
}

#u16035
{
	z-index: 186;
	width: 21px;
	min-height: 27px;
	margin-right: -10000px;
}

#u16077-6
{
	z-index: 179;
	width: 289px;
	min-height: 47px;
	margin-right: -10000px;
	left: 29px;
}

#u19497
{
	z-index: 197;
	width: 281px;
	min-height: 34px;
	margin-top: 11px;
}

#u15916-bw
{
	z-index: 138;
	margin-top: 303px;
	height: 512px;
}

#u15923
{
	z-index: 137;
	padding-bottom: 2px;
}

#u15923_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
	margin-bottom: -1px;
}

#u16025-4
{
	z-index: 139;
	width: 900px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 110px;
}

#u16048-4
{
	z-index: 143;
	width: 159px;
	min-height: 32px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 1131px;
}

#u15923-bw
{
	z-index: 137;
	margin-top: -1px;
	height: 43px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 48px;
	padding-bottom: 45px;
}

#page .verticalspacer
{
	clear: both;
}

