<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 
<head>
<title>Test</title>

</head>
 
<body>
    

    <div id="container-body"></div>    
    
    <ul id="hybridSubmenu">
        <li><a href="#h">Host</a></li>
        <li><a href="#p">Participant</a></li>
    </ul>
   
    
    <script type="text/template" id="user-template">
        <p>Mi primera App</p>
        <p>Mi nombre es <%= name %></p>
        <input value="<%= name %>" id="inputNombre" type="text" placeholder="Nombre">
    	<button>Guardar</button> 
	</script>
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script type="text/javascript" src="//cdn.worldsecuresystems.com/bcapi/bcapi-0.1.0.min.js"></script>
    <script type="text/javascript" src="/_System/apps/INNOV-comcristiano/assets/js/run.js"></script>
</body>
</html>
