<!--<div id="owl-demo" class="owl-carousel owl-theme">-->
<div class="item">
<a href="{tag_enlace 1}"><img alt="" src="{tag_slide 1_value}?Action=thumbnail&amp;Width=597&amp;Height=256&amp;algorithm=fill_proportional" /></a>
</div>
<div class="item">
<a href="{tag_enlace 2}"><img alt="" src="{tag_slide 2_value}?Action=thumbnail&amp;Width=597&amp;Height=256&amp;algorithm=fill_proportional" /></a>
</div>
<div class="item">
<a href="{tag_enlace 3}"><img alt="" src="{tag_slide 3_value}?Action=thumbnail&amp;Width=597&amp;Height=256&amp;algorithm=fill_proportional" /></a>
</div>
<!--</div>-->
