<style>
    .categorias-testimonios {
    margin-top: 12px;
    margin-bottom: 25px;
    width: 232px;
    border-width: 1px;
    border-style: solid;
    border-color: #E4E4E4;
    background-color: #FFFFFF;
    padding: 33px;
    text-align: center;
    padding-bottom: 11px;
    }
    .categorias-testimonios p {
    font-size: 14px;
    line-height: 16px;
    color: #113689;
    font-weight: normal;
    }
    .categorias-testimonios span {
    font-size: 12px;
    line-height: 14px;
    color: #CA2421;
    font-weight: bold;
    display: block;
    }
</style>
<div class="categorias-testimonios">
<span style="text-align: left; font-size: 50px; color: #113689;">"</span>
<p>{tag_testimonio}<span style="margin-top: 7px;">{tag_cliente}</span><span style="text-align: right; font-size: 50px; margin-top: 26px; color: #113689;">"</span>
</p>
</div>
