<p class="breadcrumbspublicaciones"><strong>Usted está aquí:</strong><a href="/">Inicio</a> |  {tag_nombre categoria:}  |  <span>{module_breadcrumbs}</span></p>


<section class=" sections subcategorias-columna-A">
<div class="categoria-padre-nombre">
<h2 class="h2">{tag_nombre categoria:}</h2>
<div class="subcategoria-subcategoria-lateral">
{module_webapps,17486,c,{tag_codigo subcategoria},,,,100000,,1}
</div>
</div>
<div class="subcategorias-filtro">
<div>
<ul id="filters" class="contenedor-ciudades-mas">
    <h2 class="h2">Estado</h2>
    <li type="square">
    <a href="#" data-filter="*">Mostrar todos</a>
    </li>
    <li type="square">
    <a href="#" data-filter=".Nuevo">Nuevo</a>
    </li>
    <li type="square">
    <a href="#" data-filter=".Usado">Usado</a>
    </li>
    <br />
    <h2 class="h2">Ciudad</h2>
    <li>
    <a href="#" data-filter="*">Todas las ciudades</a>
    </li>
    <li class="numero_elementos_Bogota1">
    <a href="#" data-filter=".Bogota">Bogot&aacute; (<span class="numero_elementos_Bogota numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Medellin1">
    <a href="#" data-filter=".Medellin">Medell&iacute;n (<span class="numero_elementos_Medellin numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Cali1">
    <a href="#" data-filter=".Cali">Cali (<span class="numero_elementos_Cali numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Barranquilla1">
    <a href="#" data-filter=".Barranquilla">Barranquilla (<span class="numero_elementos_Barranquilla numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Cartagena1">
    <a href="#" data-filter=".Cartagena">Cartagena (<span class="numero_elementos_Cartagena numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Cucuta1">
    <a href="#" data-filter=".Cucuta">C&uacute;cuta (<span class="numero_elementos_Cucuta numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Soledad1">
    <a href="#" data-filter=".Soledad">Soledad (<span class="numero_elementos_Soledad numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Ibague1">
    <a href="#" data-filter=".Ibague">Ibagu&eacute; (<span class="numero_elementos_Ibague numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Bucaramanga1">
    <a href="#" data-filter=".Bucaramanga">Bucaramanga (<span class="numero_elementos_Bucaramanga numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Soacha1">
    <a href="#" data-filter=".Soacha">Soacha (<span class="numero_elementos_Soacha numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Santa_Marta1">
    <a href="#" data-filter=".Santa">Santa Marta (<span class="numero_elementos_Santa_Marta numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Villavicencio1">
    <a href="#" data-filter=".Villavicencio">Villavicencio (<span class="numero_elementos_Villavicencio numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Pereira1">
    <a href="#" data-filter=".Pereira">Pereira (<span class="numero_elementos_Pereira numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Bello1">
    <a href="#" data-filter=".Bello">Bello (<span class="numero_elementos_Bello numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Valledupar1">
    <a href="#" data-filter=".Valledupar">Valledupar (<span class="numero_elementos_Valledupar numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Monteria1">
    <a href="#" data-filter=".Monteria">Monter&iacute;a (<span class="numero_elementos_Monteria numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Pasto1">
    <a href="#" data-filter=".Pasto">Pasto (<span class="numero_elementos_Pasto numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Manizales1">
    <a href="#" data-filter=".Manizales">Manizales (<span class="numero_elementos_Manizales numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Buenaventura1">
    <a href="#" data-filter=".Buenaventura">Buenaventura (<span class="numero_elementos_Buenaventura numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Neiva1">
    <a href="#" data-filter=".Neiva">Neiva (<span class="numero_elementos_Neiva numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Palmira1">
    <a href="#" data-filter=".Palmira">Palmira (<span class="numero_elementos_Palmira numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Armenia1">
    <a href="#" data-filter=".Armenia">Armenia (<span class="numero_elementos_Armenia numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Popayan1">
    <a href="#" data-filter=".Popayan">Popay&aacute;n (<span class="numero_elementos_Popayan numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Sincelejo1">
    <a href="#" data-filter=".Sincelejo">Sincelejo (<span class="numero_elementos_Sincelejo numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Itagui1">
    <a href="#" data-filter=".Itagui">Itagui (<span class="numero_elementos_Itagui numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Floridablanca1">
    <a href="#" data-filter=".Floridablanca">Floridablanca (<span class="numero_elementos_Floridablanca numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Riohacha1">
    <a href="#" data-filter=".Riohacha">Riohacha (<span class="numero_elementos_Riohacha numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Envigado1">
    <a href="#" data-filter=".Envigado">Envigado (<span class="numero_elementos_Envigado numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Tulua1">
    <a href="#" data-filter=".Tulua">Tulu&aacute; (<span class="numero_elementos_Tulua numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Dosquebradas1">
    <a href="#" data-filter=".Dosquebradas">Dosquebradas (<span class="numero_elementos_Dosquebradas numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_San_Andres_de_Tumaco1">
    <a href="#" data-filter=".San_Andres_de_Tumaco">San Andres de Tumaco (<span class="numero_elementos_San_Andres_de_Tumaco numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Barrancabermeja1">
    <a href="#" data-filter=".Barrancabermeja">Barrancabermeja (<span class="numero_elementos_Barrancabermeja numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Tunja1">
    <a href="#" data-filter=".Tunja">Tunja (<span class="numero_elementos_Tunja numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Giron1">
    <a href="#" data-filter=".Giron">Gir&oacute;n (<span class="numero_elementos_Giron numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Apartado1">
    <a href="#" data-filter=".Apartado">Apartad&oacute; (<span class="numero_elementos_Apartado numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Florencia1">
    <a href="#" data-filter=".Florencia">Florencia (<span class="numero_elementos_Florencia numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Uribia1">
    <a href="#" data-filter=".Uribia">Uribia (<span class="numero_elementos_Uribia numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Turbo1">
    <a href="#" data-filter=".Turbo">Turbo (<span class="numero_elementos_Turbo numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Maicao1">
    <a href="#" data-filter=".Maicao">Maicao (<span class="numero_elementos_Maicao numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Piedecuesta1">
    <a href="#" data-filter=".Piedecuesta">Piedecuesta (<span class="numero_elementos_Piedecuesta numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Yopal1">
    <a href="#" data-filter=".Yopal">Yopal (<span class="numero_elementos_Yopal numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Ipiales1">
    <a href="#" data-filter=".Ipiales">Ipiales (<span class="numero_elementos_Ipiales numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Fusagasuga1">
    <a href="#" data-filter=".Fusagasuga">Fusagasug&aacute; (<span class="numero_elementos_Fusagasuga numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Cartago1">
    <a href="#" data-filter=".Cartago">Cartago (<span class="numero_elementos_Cartago numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Facatativa1">
    <a href="#" data-filter=".Facatativa">Facatativ&aacute; (<span class="numero_elementos_Facatativa numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Chia1">
    <a href="#" data-filter=".Chia">Ch&iacute;a (<span class="numero_elementos_Chia numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Magangue1">
    <a href="#" data-filter=".Magangue">Magangu&eacute; (<span class="numero_elementos_Magangue numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Pitalito1">
    <a href="#" data-filter=".Pitalito">Pitalito (<span class="numero_elementos_Pitalito numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Caucasia1">
    <a href="#" data-filter=".Caucasia">Caucasia (<span class="numero_elementos_Caucasia numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Zipaquira1">
    <a href="#" data-filter=".Zipaquira">Zipaquir&aacute; (<span class="numero_elementos_Zipaquira numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Malambo1">
    <a href="#" data-filter=".Malambo">Malambo (<span class="numero_elementos_Malambo numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Rionegro1">
    <a href="#" data-filter=".Rionegro">Rionegro (<span class="numero_elementos_Rionegro numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Lorica1">
    <a href="#" data-filter=".Lorica">Lorica (<span class="numero_elementos_Lorica numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Jamundi1">
    <a href="#" data-filter=".Jamundi">Jamund&iacute; (<span class="numero_elementos_Jamundi numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Quibdo1">
    <a href="#" data-filter=".Quibdo">Quibd&oacute; (<span class="numero_elementos_Quibdo numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Guadalajara_de_Buga1">
    <a href="#" data-filter=".Guadalajara_de_Buga">Guadalajara de Buga (<span class="numero_elementos_Guadalajara_de_Buga numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Yumbo1">
    <a href="#" data-filter=".Yumbo">Yumbo (<span class="numero_elementos_Yumbo numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Sogamoso1">
    <a href="#" data-filter=".Sogamoso">Sogamoso (<span class="numero_elementos_Sogamoso numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Duitama1">
    <a href="#" data-filter=".Duitama">Duitama (<span class="numero_elementos_Duitama numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Girardot1">
    <a href="#" data-filter=".Girardot">Girardot (<span class="numero_elementos_Girardot numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Cienaga1">
    <a href="#" data-filter=".Cienaga">Ci&eacute;naga (<span class="numero_elementos_Cienaga numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Manaure1">
    <a href="#" data-filter=".Manaure">Manaure (<span class="numero_elementos_Manaure numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Tierralta1">
    <a href="#" data-filter=".Tierralta">Tierralta (<span class="numero_elementos_Tierralta numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Ocana1">
    <a href="#" data-filter=".Ocana">Oca&ntilde;a (<span class="numero_elementos_Ocana numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Sabanalarga1">
    <a href="#" data-filter=".Sabanalarga">Sabanalarga (<span class="numero_elementos_Sabanalarga numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Santander_de_Quilichao1">
    <a href="#" data-filter=".Santander_de_Quilichao">Santander de Quilichao (<span class="numero_elementos_Santander_de_Quilichao numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Aguachica1">
    <a href="#" data-filter=".Aguachica">Aguachica (<span class="numero_elementos_Aguachica numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Cerete1">
    <a href="#" data-filter=".Cerete">Ceret&eacute; (<span class="numero_elementos_Cerete numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Sahagun1">
    <a href="#" data-filter=".Sahagun">Sahag&uacute;n (<span class="numero_elementos_Sahagun numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Arauca1">
    <a href="#" data-filter=".Arauca">Arauca (<span class="numero_elementos_Arauca numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Villa_del_Rosario1">
    <a href="#" data-filter=".Villa_del_Rosario">Villa del Rosario (<span class="numero_elementos_Villa_del_Rosario numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Garzon1">
    <a href="#" data-filter=".Garzon">Garz&oacute;n (<span class="numero_elementos_Garzon numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Mosquera1">
    <a href="#" data-filter=".Mosquera">Mosquera (<span class="numero_elementos_Mosquera numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Candelaria1">
    <a href="#" data-filter=".Candelaria">Candelaria (<span class="numero_elementos_Candelaria numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Montelibano1">
    <a href="#" data-filter=".Montelibano">Montel&iacute;bano (<span class="numero_elementos_Montelibano numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Calarca1">
    <a href="#" data-filter=".Calarca">Calarc&aacute; (<span class="numero_elementos_Calarca numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Caldas1">
    <a href="#" data-filter=".Caldas">Caldas (<span class="numero_elementos_Caldas numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_La_Dorada1">
    <a href="#" data-filter=".La_Dorada">La Dorada (<span class="numero_elementos_La_Dorada numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_El_Espinal1">
    <a href="#" data-filter=".El_Espinal">El Espinal (<span class="numero_elementos_El_Espinal numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Madrid1">
    <a href="#" data-filter=".Madrid">Madrid (<span class="numero_elementos_Madrid numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Los_Patios1">
    <a href="#" data-filter=".Los_Patios">Los Patios (<span class="numero_elementos_Los_Patios numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Chigorodo1">
    <a href="#" data-filter=".Chigorodo">Chigorod&oacute; (<span class="numero_elementos_Chigorodo numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_El_Carmen_de_Bolivar1">
    <a href="#" data-filter=".El_Carmen_de_Bolivar">El Carmen de Bol&iacute;var (<span class="numero_elementos_El_Carmen_de_Bolivar numerociudadesj"></span>)</a>
    </li>
    <li class="numero-elementos-Funza1">
    <a href="#" data-filter=".Funza">Funza (<span class="numero-elementos-Funza numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Santa_Rosa_de_Cabal1">
    <a href="#" data-filter=".Santa_Rosa_de_Cabal">Santa Rosa de Cabal (<span class="numero_elementos_Santa_Rosa_de_Cabal numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Arjona1">
    <a href="#" data-filter=".Arjona">Arjona (<span class="numero_elementos_Arjona numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Turbaco1">
    <a href="#" data-filter=".Turbaco">Turbaco (<span class="numero_elementos_Turbaco numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_San_Andres1">
    <a href="#" data-filter=".San_Andres">San Andr&eacute;s (<span class="numero_elementos_San_Andres numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Copacabana1">
    <a href="#" data-filter=".Copacabana">Copacabana (<span class="numero_elementos_Copacabana numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Acacias1">
    <a href="#" data-filter=".Acacias">Acac&iacute;as (<span class="numero_elementos_Acacias numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_San_Vicente_del_Caguan1">
    <a href="#" data-filter=".San_Vicente_del_Caguan">San Vicente del Cagu&aacute;n (<span class="numero_elementos_San_Vicente_del_Caguan numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Planeta_Rica1">
    <a href="#" data-filter=".Planeta_Rica">Planeta Rica (<span class="numero_elementos_Planeta_Rica numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Chiquinquira1">
    <a href="#" data-filter=".Chiquinquira">Chiquinquir&aacute; (<span class="numero_elementos_Chiquinquira numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_San_Jose_del_Guaviare1">
    <a href="#" data-filter=".San_Jose_del_Guaviare">San Jos&eacute; del Guaviare (<span class="numero_elementos_San_Jose_del_Guaviare numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Cienaga_de_Oro1">
    <a href="#" data-filter=".Cienaga_de_Oro">Ci&eacute;naga de Oro (<span class="numero_elementos_Cienaga_de_Oro numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Corozal1">
    <a href="#" data-filter=".Corozal">Corozal (<span class="numero_elementos_Corozal numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_La_Plata1">
    <a href="#" data-filter=".La_Plata">La Plata (<span class="numero_elementos_La_Plata numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_La_Estrella1">
    <a href="#" data-filter=".La_Estrella">La Estrella (<span class="numero_elementos_La_Estrella numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Granada1">
    <a href="#" data-filter=".Granada">Granada (<span class="numero_elementos_Granada numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Riosucio1">
    <a href="#" data-filter=".Riosucio">Riosucio (<span class="numero_elementos_Riosucio numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Necocli1">
    <a href="#" data-filter=".Necocli">Necocl&iacute; (<span class="numero_elementos_Necocli numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Zona_Bananera1">
    <a href="#" data-filter=".Zona_Bananera">Zona Bananera (<span class="numero_elementos_Zona_Bananera numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Puerto_Asis1">
    <a href="#" data-filter=".Puerto_Asis">Puerto As&iacute;s (<span class="numero_elementos_Puerto_Asis numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Florida1">
    <a href="#" data-filter=".Florida">Florida (<span class="numero_elementos_Florida numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Fundacion1">
    <a href="#" data-filter=".Fundacion">Fundaci&oacute;n (<span class="numero_elementos_Fundacion numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Baranoa1">
    <a href="#" data-filter=".Baranoa">Baranoa (<span class="numero_elementos_Baranoa numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_El_Cerrito1">
    <a href="#" data-filter=".El_Cerrito">El Cerrito (<span class="numero_elementos_El_Cerrito numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Pamplona1">
    <a href="#" data-filter=".Pamplona">Pamplona (<span class="numero_elementos_Pamplona numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Plato1">
    <a href="#" data-filter=".Plato">Plato (<span class="numero_elementos_Plato numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_San_Marcos1">
    <a href="#" data-filter=".San_Marcos">San Marcos (<span class="numero_elementos_San_Marcos numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Cajica1">
    <a href="#" data-filter=".Cajica">Cajic&aacute; (<span class="numero_elementos_Cajica numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_El_Banco1">
    <a href="#" data-filter=".El_Banco">El Banco (<span class="numero_elementos_El_Banco numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Villamaria1">
    <a href="#" data-filter=".Villamaria">Villamar&iacute;a (<span class="numero_elementos_Villamaria numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Puerto_Boyaca1">
    <a href="#" data-filter=".Puerto_Boyaca">Puerto Boyac&aacute; (<span class="numero_elementos_Puerto_Boyaca numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Pradera1">
    <a href="#" data-filter=".Pradera">Pradera (<span class="numero_elementos_Pradera numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Carepa1">
    <a href="#" data-filter=".Carepa">Carepa (<span class="numero_elementos_Carepa numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Girardota1">
    <a href="#" data-filter=".Girardota">Girardota (<span class="numero_elementos_Girardota numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Marinilla1">
    <a href="#" data-filter=".Marinilla">Marinilla (<span class="numero_elementos_Marinilla numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Tame1">
    <a href="#" data-filter=".Tame">Tame (<span class="numero_elementos_Tame numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_La_Ceja1">
    <a href="#" data-filter=".La_Ceja">La Ceja (<span class="numero_elementos_La_Ceja numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Chinchina1">
    <a href="#" data-filter=".Chinchina">Chinchin&aacute; (<span class="numero_elementos_Chinchina numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Orito1">
    <a href="#" data-filter=".Orito">Orito (<span class="numero_elementos_Orito numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Valle_del_Guamuez1">
    <a href="#" data-filter=".Valle_del_Guamuez">Valle del Guamuez (<span class="numero_elementos_Valle_del_Guamuez numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Agustin_Codazzi1">
    <a href="#" data-filter=".Agustin_Codazzi">Agust&iacute;n Codazzi (<span class="numero_elementos_Agustin_Codazzi numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Sabaneta1">
    <a href="#" data-filter=".Sabaneta">Sabaneta (<span class="numero_elementos_Sabaneta numerociudadesj"></span>)</a>
    </li>
    <li class="numero_elementos_Ayapel1">
    <a href="#" data-filter=".Ayapel">Ayapel (<span class="numero_elementos_Ayapel numerociudadesj"></span>)</a>
    </li>
</ul>
<div id="loadMore" style="cursor: pointer;">Ver m&aacute;s</div>
<div id="showLess" style="color: red; cursor: pointer; display: none;">Mostrar menos</div>
</div>
</div>
<div class="subcategorias-pauta">
{module_webapps,17438,c,{tag_pauta lateral},,_blank,,100000,true,1}
</div>
</section>
<section class="subcategorias-columna-B">
<section class="subcategorias-contenido">
<div class="subcategoria-nombre">
<div style="border-bottom-width: 1px; border-bottom-color: #cccccc; border-bottom-style: solid; margin-bottom: 20px;">
<h1>Crecimiento</h1>
<p style="display: inline-block;">Publicaciones: 1 de {module_webappscount,Publicaciones,c,{tag_codigo subcategoria}} &nbsp;|&nbsp;</p>
<a class="boton-cuadro" href="#" id="boton-cuadro">
<img src="/Imagenes/iconos/Vista2.png" alt="Cuadros" height="10" width="10" />
</a>
<a class="boton-listado" href="#" id="boton-listado">
<img src="/Imagenes/iconos/Vista1.png" alt="Listado" height="10" width="10" />
</a>&nbsp;
<p style="display: inline-block;">| &nbsp;&Uacute;ltimas Publicaciones <span style="font-size: 11px;">▼</span></p>
</div>
<div>
<ul id="container-publicaciones" class="cuadro">{module_webapps,Publicaciones,c,{tag_codigo subcategoria},,,,1000,,1 template="/ModuleTemplates/Webapps/Publicaciones/publicaciones-listado-cuadro.tpl"}</ul>
    <ul id="container-publicaciones2" class="listado" style="display: none;">{module_webapps,Publicaciones,c,{tag_codigo subcategoria},,,,1000,,1 template="/ModuleTemplates/Webapps/Publicaciones/publicaciones-listado-listado.tpl"}</ul>
        </div>
        </div>
        </section>
        <section class="subcategorias-publicidad-horizontal"></section>
        </section>
