<div class="contenedor_mensaje_confirmacion_publicaciones">
<h1 class="h1-titulo" style="text-align: center;">Gracias por publicar en Comercio Cristiano</h1>
<br />
<p class="p-contenido" style="text-align: center;">Gracias por crear una nueva publicaci&oacute;n. Por motivos de seguridad para la comunidad, uno de nuestros representantes revisar&aacute; tu publicaci&oacute;n y si cumples con los t&eacute;rminos y condiciones de Comercio Cristiano, podr&aacute;s ver tu publicaci&oacute;n en 1 hora. En el caso en que tu publicaci&oacute;n no sea aprobada, te enviaremos un correo indicandote las razones por las cuales tu publicaci&oacute;n fue rechazada.</p>
</div>
