<style type="text/css">
    p.false { display:none; }
</style>
<title>Recuperaci&oacute;n de contrase&ntilde;a</title>
<p id="tokenExpiredMessage" class="error {tag_tokenExpired}">ERROR: El token de restablecimiento de la contrase&ntilde;a ha caducado. Por favor, solicita uno nuevo, rellenando el siguiente formulario.</p>
<p id="invalidUsernameMessage" class="error {tag_invalidUsername}">ERROR: La direcci&oacute;n de correo electr&oacute;nico que has proporcionado no existe.</p>
<p>&iquest;Has olvidado o perdido tu contrase&ntilde;a? Ingresa el correo electr&oacute;nico que registraste al crear tu cuenta abajo y te enviaremos las instrucciones para restablecerla.</p>
<form action="/LostPasswordProcess.aspx" method="post" name="catseczonelpform">
    <div class="form">
    <div class="item">
    <label for="SZUsername"><strong>Correo Electr&oacute;nico</strong></label><br />
    <input placeholder="Ej: micorreo@correo.com" style="width: 240px;" type="text" maxlength="255" id="SZUsername" name="Username" class="cat_textbox_small" /><br />
    <button style="width: 262px;" type="submit" class="boton_amarillo">Recuperar Contrase&ntilde;a</button>
    </div>
    </div>
</form>
